<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="atrv_ur5e" >

  <xacro:property name="ns" value="atrvjr/" />
  <xacro:include filename="$(find ur_e_gazebo)/controller/common.gazebo.xacro" />


  <xacro:include filename="$(find atrvjr_description)/urdf/atrvjr.xacro"/>
  <xacro:atrvjr armConnectionFrame="arm_base_frame" prefix="${ns}"/>
  

  
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro"/>

  <xacro:include filename="$(find ur_e_description)/urdf/_d435.urdf.xacro" />

  <sensor_d435 parent="${ns}wrist_2_link" name="${ns}camera">
    <origin xyz="0 0 0.15" rpy="0 0 1.5"/>
  </sensor_d435>


  <xacro:ur5e_robot parent="${ns}arm_base_frame" prefix="${ns}" joint_limited="true"/>




  <!-- 
  <link name="world" /> -->

 <!--  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint> -->



</robot>
