<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find atrvjr)/launch/atrvjr_sim.launch">
        <arg name="load_map" value="true"/>
    </include> -->

    <!-- SMACH state machine node -->
    <node pkg="planning" type="ch3_sm_node" name="ch3_sm_node" required="true" output="screen" />

</launch>
