<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find atrvjr)/launch/atrvjr_sim.launch">
        <arg name="load_map" value="true"/>
    </include> -->

    <!-- Param that sets the distance to the fire -->
    <param name="/mbzirc2020_0/fire_dist" value="2"/>

    <!-- SMACH state machine node -->
    <node pkg="planning" type="testbed_sm_node" name="testbed_sm_node" required="true" output="screen" />

</launch>
