<?xml version="1.0"?>

<launch>
    <arg name="ns" default=""/>

    <!-- RFLEX -->
    <include file="$(find rflex)/launch/rflex.launch">
        <arg name="ns" value="$(arg ns)/rflex"/>
        <arg name="serialPort" value="/dev/ttyUSB0"/>
    </include>

      <!--   MPU IMU -->
    <include file="$(find atrvjr)/launch/mpuimu.launch" >
        <arg name="ns" value="$(arg ns)/atrvjr/mpu"/>
        <arg name="port" value="/dev/mpuimu"/>
        <arg name="imu_frame_id" value="mpuimu_frame"/>
        <arg name="frame_id" value="mpuimu_frame"/>
        <arg name="tf_frame_id" value="mpuimu_frame"/>
    </include>

    <!-- HOKUYO -->
    <node pkg="urg_node" type="urg_node" name="hokuyo_node" output="screen">
        <param name="serial_port" value="/dev/ttyACM2"/>
        <param name="frame_id" value="hokuyo"/>
        <param name="angle_min" value="-1.5"/>
        <param name="angle_max" value="1.5"/>
    </node>

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
    	<remap from="/cmd_vel" to="/rflex/atrvjr_node/cmd_vel"/>
    </node>


    

    <arg name="model" default="$(find ur_e_description)/urdf/ur5e_robot.urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />



    <arg name="rvizconfig" default="$(find atrvjr_description)/launch/new_rviz_config.rviz"/>
    <!--     <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />-->

    <!-- <param name="use_gui" value="false"/> -->
    <arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>


    <include file="$(find robot_localization)/launch/ekf_template.launch" />

    <include file="$(find odom_calibration)/launch/calib.launch" />


</launch>